name: Nyatet Log

on:
  pull_request:
    types: [opened, closed]
  pull_request_review:
    types: [submitted]
jobs:
  log_event_time:
    runs-on: ubuntu-latest
    name: A job to log events
    steps:
      - name: Hello world action step
        id: hello
        uses: fawwaz/test-action@v1.1
        with:
          who-to-greet: "Mona the Octocat"
      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
